.resultadoGeracao {
    font-weight: bold;
    font-size: 1.4em;
    color: red;
}

.main-screen-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.main-screen {
    padding-left: 10px;
    padding-right: 10px;
}
